section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: min-content('300px'); */
  gap: 10px;
}


textarea {
  grid-column: 1/4;
  padding: 10px;
  height: 250px;
}

#fontSizeInput{
    width: 50px;
}