* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 300px 6fr;
  width: 70%;
  margin: 0px 80px 0px 200px;
  gap: 10px 0px;
}

header {
  height: 80px;
  grid-column: 1/5;
  display: flex;
}

.header_picture {
  margin-left: 10px;
  height: 100%;
  width: 30%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

header nav {
  width: 100%;
}

header nav > ul {
  position: relative;
  top: 20%;
  display: flex;
  flex-direction: row;
}

header ul li {
  height: 25px;
  background-color: #97d04b;
  list-style-type: none;
  padding-top: 5px;
  /* border: 1px solid black; */
  margin-left: 3px;
  width: 70%;
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.home_li {
  width: 30%;
  margin-left: 0px;
}

.banner {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 5fr 4fr;
  padding-top: 20px;
  padding-left: 10px;
  /* column-gap: 5px; */

}


.banner_BigPicture {
  background-image: url("../img/leaf.png");
  background-repeat: no-repeat;
}

.banner_Text {
  color: #898989;
  font-size: 32px;
  overflow: hidden;
}

.banner_Text > div {
  font-size: 18px;
  margin-top: 20px;
  overflow: hidden;
}

.news {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 5px;
  color: #898989;
}

.news_caption {
  grid-column: 1/5;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

/* контейнер для статьи */
.news_article {
  display: grid;
  grid-template-rows: 150px 50px 35px 110px 35px;
  margin-left: 10px;
}

.news_article_picture {
  background-image: url("../img/news1.png");
}

.news_article_title {
  /* background-color: yellow; */
  font-size: 20px;
  font-weight: bold;
  color: #898989;
  margin-top: 10px;
}
.news_article_pubDate {
  /* background-color: magenta; */
  align-self: center;
}

.news_article_text {
  /* background-color: lightseagreen; */
}

.news_article_readmore {
  color: black;
  font-weight: bold;
  /* background-color: maroon; */
}
