header {
  height: $headerHeight;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $FontColor;
  justify-content: center;
  padding: 10px;

  .logo {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;

    .name {
      font-size: 30px;
      font-family: $ourFont;
    }

    .slogan {
      font-size: 12px;
      color: $mainBlueColor;
      font-family: $ourFont;
      align-self: flex-end;
      margin-right: 45%;
    }
  }

  .navigation {
    place-self: end;
    align-self: center;
    font-family: $ourFont;

    select{
      display: none;
      border-radius: 5px;
      border: 1px solid $mainBlueColor;
      padding: 3px;
    }

    nav ul {
      display: flex;
      flex-direction: row;

      li a {
        color: $FontColor;
        text-decoration: none;
        padding: 10px 10px;
        transition: all 0.5s ease 0s;

        &:hover {
          background-color: $mainBlueColor;
          color: #fde428;
          transition: all 0.5s ease 0s;
          border-radius: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  header {
    .navigation {
      nav ul {
        display: none;
        font-size: 10px;
      }

      select{
        display: inline-block;
      }
    }
   
  }
}
